body {
    background-color: black;
}

header {

    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.download {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

video {
    background-color: black;
    align-items: center;
    display: block;
    margin: 0 auto;
}